html {
    height: 100%;
    margin: 0;
}

h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


.board {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #fce8be; 
    max-width: 460px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

.row, .color-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 2px 0;
}

.hole {
    width: 50px;
    height: 50px;
    margin: 2px;
    border-radius: 50%;
    background-image: linear-gradient(#f0d9b5, #c69c6d);
    display: flex;
    justify-content: center;
    align-items: center;
}

.fb-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.fb-hole {
    background-color: gray;
    background-image: linear-gradient(#f0d9b5, #c69c6d);
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.buttons {
    display: flex;
    justify-content: center;
    grid-gap: 10px;
    margin-top: 10px;
}

#black {
    background-color: rgb(0, 0, 0);
}

#white {
    background-color: rgb(255, 255, 255);
}

#red {
    background-color: rgb(255, 0, 0);
}

#blue {
    background-color: rgb(0, 0, 255);
}

#green {
    background-color: rgb(0, 255, 0);
}

#yellow {
    background-color: rgb(255, 255, 0);
}

#secret-row {
    margin-top: 5px;
}

.highlight {
    border-radius: 10px;
    border: 2px solid #f7eee2; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.color-row > .hole {
    background-image: none;
    cursor: pointer;
}  

body {
    transform-origin: top center;
    transform: scale(0.9);
    margin-top: 10px;
}

.hole.active {
    background-image: none;
}

.fb-hole.active {
    background-image: none;
}